/* Write your CSS here */

.main-container {
  background-color: #f9d423;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container {
  background-color: #ffffff;
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.heading {
  color: #a35200;
  font-size: 60px;
  font-weight: bold;
  font-family: 'roboto';
}
.para {
  color: #334155;
  font-size: 40px;
  font-family: 'roboto';
  font-weight: bold;
}
.image {
  height: 35%;
  width: 35%;
}
.button {
  background-color: #f9d423;
  font-size: 30px;
  font-family: 'roboto';
  font-weight: 400;
  color: #a35200;
  padding: 10px;
  margin-top: 30px;
  border-width: 0px;
  border-radius: 5px;
}
.count-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.total {
  color: #475569;
  font-size: 30px;
  font-weight: bold;
  font-family: 'roboto';
  padding-right: 15px;
}
