/* Write your CSS here */

.main-container {
  background-color: #f9d423;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.card-container {
  background-color: #ffffff;
  height: 70%;
  justify-content: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  border-radius: 20px;
}
.heading {
  color: #a35200;
  font-size: 30px;
  font-weight: bold;
  font-family: 'roboto';
  margin-bottom: 8px;
  text-align: center;
}
.para {
  color: #334155;
  font-size: 22px;
  font-family: 'roboto';
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}
img {
  height: 150px;
  width: 150px;
}
.button {
  background-color: #f9d423;
  font-size: 30px;
  font-family: 'roboto';
  font-weight: 400;
  color: #a35200;
  padding: 10px;
  margin-top: 20px;
  border-width: 0px;
  border-radius: 5px;
}
.count-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  max-width: 65%;
}
.total {
  color: #475569;
  font-size: 15px;
  font-weight: bold;
  font-family: 'roboto';
  padding-right: 15px;
}
@media screen and (max-width: 500px) {
  .total {
    font-size: 6px;
  }
  .heading {
    font-size: 15px;
  }
  .para {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  .total {
    font-size: 20px;
  }
}
